@import "bootstrap";
@import "font-awesome";

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h4{
  text-align: center;
}

body{
  background: image_url('food.png');
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}


.navbar{
  background:image_url('footer_lodyas.png');
  border-radius:0;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar-inverse .navbar-brand {
  color: #4AF9BB;
  font-family: 'hamburgerheavenregular';
  font-size: 40px;
}



.display-box{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: rgb(255,255,255);
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  padding: 10px;
}


.pagination{
  display:block;
}


.pagination > a, span, em{
  margin-left:10px;
}

.btn-warning{
  background-color: #4AF9BB;
  border-color: #4AF9BB;
  color:black;
}

.btn-primary{
  background-color: #acfce0;
  border: 1px solid #acfce0;
  color:black;
}

.btn-danger{
  background-color: black;
  border-color: black;
}

.sign{
  margin-left: 10px;
}

.help-block{
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  font-size: 0.8em;
}

#map {
  height: 300px;
}

.button-space{
  padding-top:5px;
  padding-bottom:25px;
}

.clear {
  clear: both;
}

.display-box-comments{
  background-color: rgba(255,255,255, 0.2);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  margin: 10px;
  padding: 5px;
}

.alert-warning{
  margin-top:auto;
  margin-bottom: auto;
}

.comment-font{
  font-size: 1.2em;
}

.comment-count{
  padding-top:20px;
}

.test {
  color: red;
}
